<template>
  <div>
    <div id="slogan" class="text-center">
      <h1>NameGator</h1>
      <br />
      <h6 class="text-secondary">Gerador de nomes utilizando Vue.js, GraphQL e Node</h6>
    </div>
    <div id="main">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "font-awesome/css/font-awesome.css";

//continuação https://www.youtube.com/watch?v=wqL6dc_YRAA&list=PLQCmSnNFVYnTiC-pPY0SySbf-ZNGBwnaG&index=6
export default {
  name: "App"
};
</script>

<style>
#slogan {
  margin: 30px 0px;
}
#main {
  background: #f1f1f1;
  padding: 30px 0px;
}
</style>
