<template>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <AppItemList
          title="Prefixos"
          v-bind:items="prefixes"
          v-on:addItem="addPrefix"
          v-on:deleteItem="deletePrefix"
        ></AppItemList>
      </div>

      <div class="col-md">
        <AppItemList
          title="Sufixos"
          v-bind:items="sufixes"
          v-on:addItem="addSufix"
          v-on:deleteItem="deleteSufix"
        ></AppItemList>
      </div>
    </div>
    <br />
    <h5>
      Domínios
      <span class="badge badge-info">{{ domains.length }}</span>
    </h5>
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item" v-for="domain in domains" v-bind:key="domain.name">
            <div class="row">
              <div class="col-md">{{ domain.name }}</div>
              <div class="col-md text-right">
                <a class="btn btn-info" v-bind:href="domain.checkout" target="_blank">
                  <span class="fa fa-shopping-cart"></span>
                </a>
                &nbsp;
                <button class="btn btn-info" @click="openDomain(domain)">
                  <span class="fa fa-search"></span>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import "bootstrap/dist/css/bootstrap.css";
import "font-awesome/css/font-awesome.css";
import AppItemList from "./AppItemList";

export default {
  name: "DomainList",
  components: {
    AppItemList
  },
  data() {
    return {
      /* prefixes: [],
      sufixes: [] */
    };
  },
  methods: {
    //Mapeando as actions do state para o component usando o mapActions, utilitario do vuex
    ...mapActions([
      "getPrefixes",
      "getSufixes",
      "addPrefix",
      "deletePrefix",
      "addSufix",
      "deleteSufix"
    ]),
    // getPrefixes() {
    //   this.$store.dispatch("getPrefixes");
    // },

    // getSufixes() {
    //   this.$store.dispatch("getSufixes");
    // },

    // addPrefix(prefix) {
    //   this.$store.dispatch("addPrefix", prefix);
    // },

    // deletePrefix(prefix) {
    //   this.$store.dispatch("deletePrefix", prefix);
    // },

    // addSufix(sufix) {
    //   this.$store.dispatch("addSufix", sufix);
    // },

    // deleteSufix(sufix) {
    //   this.$store.dispatch("deleteSufix", sufix);
    // },
    openDomain(domain) {
      this.$router.push({
        path: `/domains/${domain.name}`
      });
    }
  },
  computed: {
    // Mapeando a store para dentro do component
    // prefixes() {
    //   return this.$store.state.prefixes;
    // },
    // sufixes() {
    //   return this.$store.state.sufixes;
    // },
    //Mapeando usando o utilitário do vuex para mapeamento do estado para o component
    ...mapState(["prefixes", "sufixes"]),
    domains() {
      const domains = [];

      for (const prefix of this.prefixes) {
        for (const sufix of this.sufixes) {
          const name = prefix.description + sufix.description;
          const url = name.toLowerCase();
          const checkout = `https://checkout.hostgator.com.br/?a=add&sld=${url}&tld=.com.br`;

          domains.push({ name, checkout });
        }
      }

      return domains;
    }
  },
  created() {
    this.getPrefixes();
    this.getSufixes();
  }
};
</script>
